<% if (alerts && alerts.length) { %>
  <% for(let alert of alerts) {%>
    <div class="row mt-3">
      <div class="col-8 offset-2">
        <div class="alert alert-<%= alert.style %>  alert-dismissible fade show" role="alert">
          <strong>
            <%= alert.message %>
          </strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
  <% } %>  
<% } %>
<% if (error && error.length) { %>
  <% for(let err of error) {%>
    <div class="row mt-3">
      <div class="col-8 offset-2">
        <div class="alert alert-danger  alert-dismissible fade show" role="alert">
          <strong>
            <%= err %>
          </strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>  
  <% } %>  
<% } %>

